<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
  <link rel="stylesheet" href="{%static 'styles/login.css'%}">
  <script src="https://kit.fontawesome.com/4eda5c39f4.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <body>
    <div class="container">
      <div class="from-box">
        <h1 id="title">Sign Up</h1>
        <form action="/register" method="POST" >
          {% csrf_token %}
            <div class="input-group">
              <div class="input-field " id="nameField">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Name" name="name">
              </div>
              <div class="input-field">
                <i class="fa-solid fa-key"></i>
                <input type="ID" placeholder="ID" name="id">
              </div>
              <div class="button">
              <input type="submit" value="Submit">
              </div>
              <div class="btn-field">
                <button type="button"  id="signupBtn"><a href="http://127.0.0.1:8000/student">Student details</a></button>
                
                {% comment %} <button type="button" id="signinBtn" class="disable">Sign in</button> {% endcomment %}
              </div>
            </div>
        </form>
      </div>
    </div>
  
    <script>
      let signupBtn = document.querySelector("#signupBtn");
      let signinBtn = document.querySelector("#signinBtn");
      let nameField = document.querySelector("#nameField");
      let title = document.querySelector("#title");
  
  
      signinBtn.onclick = function(){
        nameField.style.maxHeight = "0";
        title.innerHTML ="Sign In";
        signupBtn.classList.add("disable");
        signinBtn.classList.remove("disable");
      }
  
      signupBtn.onclick = function(){
        nameField.style.maxHeight = "65px";
        title.innerHTML ="Sign Up";
        signinBtn.classList.add("disable");
        signupBtn.classList.remove("disable");
      }
  
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>